# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Transpiled files
*.js
*.jsx
*.css
*.sass

# Logs
logs/
*.log

# Sphinx documentation
docs/_build/

# Configuration files
*.ini
*.json
*.xml
*.yml

# IDE files
.idea/
.vscode/
.DS_Store
*.sublime-project
*.sublime-workspace

# Other
*.bak
*.tmp
